.task-static {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-static__controls {
  display: flex;
  gap: 10px;
}

.task-static__text {
  margin-inline: 15px;
  overflow-wrap: break-word;
  font-family: "Pixelify Sans", sans-serif;
  line-height: 1;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-inline-size: 100%;
}

.task-static__button {
  padding: 0;
  background-color: transparent;
  inline-size: 25px;
  block-size: 25px;
}

.task-static__status-button {
  border: 2px solid var(--text-color);
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  min-inline-size: 25px;
  min-block-size: 25px;
}

.task-static__status-button--completed {
  color: var(--text-color);
  font-size: 15px;
}

.task__input {
  color: var(--text-color);
  font-family: "Pixelify Sans", sans-serif;
  background-color: transparent;
}