#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  position: relative;
  width: 100%;
  min-height: 80vh;
}

.app__buttons {
  position: absolute;
  top: calc(20px - 2rem);
  right: calc(clamp(5px, 4vw, 40px) - 2rem); 
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 5;
}

.button-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 25px;
  background-color: inherit;
  inline-size: 30px;
  block-size: 30px;
}

.button-icon {
  width: 24px;
  height: 24px;
  color: var(--text-color);
  stroke-width: 2;
}

.app__image {
  position: fixed;
  bottom: 0px;
  left: clamp(10px, 1.5vw - 1.5px, 20px);
  z-index: -1;
  width: clamp(230px, 40.7vw - 83px, 550px);
  height: auto;
  color: var(--text-color);
}

.button__theme-toggle:focus,
.button__theme-toggle:focus-visible {
  outline: none;
}

@media (max-width: 768px) {
  .app__image {
    display: none;
  }
}

@media (max-width: 425px) {
  .app__buttons {
    top: calc(250px - 2rem);
  }
}