#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button__theme-toggle {
  background-color: inherit;
  font-size: 25px;
}

.button__theme-toggle:focus,
.button__theme-toggle:focus-visible {
  outline: none;
}




